#list-container{
    border: 1px solid rgba(128, 128, 128, 0.349);
    width: max-content;
    margin: .4rem;
    padding: .4rem;
    width: 100%;
}
/* #bottom-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: -2%;
} */
.icons{
    width: max-content;
    margin-left: auto; 
margin-right: 0;
}



.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: rgba(137, 43, 226, 0.089);
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.task button{
    color: blueviolet;   
    height: 100%;
    width: 40px;
    border-radius: 5px;
}



