 <!-- @author = vinay, date = 25/2/23 -->
<nav >
    <div id="nav-container" >
        <div id="brand-name">
            <h1>To-Do List</h1>
        </div>
    
        <div>
            <button mat-icon-button (click)="login()" *ngIf="!isLoggedIn"><mat-icon>login</mat-icon></button>
            <button mat-icon-button (click)="logout()" *ngIf="isLoggedIn"><mat-icon>logout</mat-icon></button>
            
        </div>
    </div>
    <div id="sub-nav">
        <p class="links" routerLink="/home">Home</p>
        <p class="links" routerLink="/dashboard">My ToDo's</p>
        <p class="links" routerLink="/all">All ToDo's</p>
    </div>
</nav>
